// -------------- THEME SWITCHER -------------- //
// @mixin dark-appearance {
//  filter: invert(1);
//  img {
//    filter: invert(1);
//
//    &.ioda { filter: invert(0); }
//  }
//}
//
//body[a="dark"] { @include dark-appearance; }
//
//
//@media (prefers-color-scheme: dark) {
//  body[a="auto"] { @include dark-appearance; }
//}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: #1e1e1e; }

html { height: 100%; }

body {
  color: #dadada;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin: 15px 0px; }

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28.8px;
}

h3 {
  font-size: 24.66px;
}

h4 {
  font-size: 22.5px;
}

h5 {
  font-size: 20.16px;
}

h6 {
  font-size: 20.16px;
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

a:link {
  color: #8dbf9b;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #8dbf9b;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid #dadada;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: #242424;
  background: #dadada;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid #dadada;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
