---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href={{ "/logo.png" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Mono&display=swap" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
